:root {
  --text: "Roboto";
  --text__logo-and-title: "shrikhand";
}

* body {
  margin: 0 auto;
  font-family: var(--text);
  background-color: #FFF;
}

* .title {
  font-family: var(--text__logo-and-title);
}

.title__h2 {
  margin-left: 20px;
  padding-top: 48px;
  padding-bottom: 15px;
  font: 700 24px;
}

a {
  text-decoration: none;
  color: #101010;
}

.logoheader {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  background-color: #FFF;
  gap: 42px;
}
.logoheader__back-arrow {
  margin-top: 14px;
  margin-bottom: 13px;
}
.logoheader__logo {
  padding: 0px 19px 0px 16px;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-right: 72px;
}

.main {
  position: relative;
}

.photo__restaurant {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  z-index: -1;
  top: 62px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__paragraph-entree {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 1s;
}
.menu__paragraph-plats {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 5s;
}
.menu__paragraph-desserts {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 10s;
}
.menu__paragraph__card-1 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 3s;
}
.menu__paragraph__card-2 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 4s;
}
.menu__paragraph__card-3 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 5s;
}
.menu__paragraph__card-4 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 7s;
}
.menu__paragraph__card-5 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 8s;
}
.menu__paragraph__card-6 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 9s;
}
.menu__paragraph__card-7 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 12s;
}
.menu__paragraph__card-8 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 13s;
}
.menu__paragraph__card-9 {
  opacity: 1;
  animation-name: fade-in;
  animation-duration: 14s;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  width: 100%;
  margin-top: 240px;
}
.menu__container-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__container-title__title {
  margin-top: 32px;
  font-size: 28px;
  font-weight: 400;
  margin-left: 20px;
}
.menu__container-title__heart {
  margin-right: 41px;
}
.menu__paragraph {
  display: flex;
  flex-direction: column;
  margin: 0px 13px 0px 13px;
  gap: 12px;
}
.menu__paragraph__wrappertitle__title {
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px 5px 0px;
  text-transform: uppercase;
}
.menu__paragraph__wrappertitle__border {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}
.menu__paragraph__card {
  border-radius: 15px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 69px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.menu__paragraph__card__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu__paragraph__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  max-width: 80%;
  white-space: nowrap;
}
.menu__paragraph__card__content__dish {
  font-size: 20px;
  font-weight: 500;
  overflow: hidden;
  padding: 10px 0px 0px 15px;
  text-overflow: ellipsis;
}
.menu__paragraph__card__content__description {
  font-size: 17px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0px 0px 10px 15px;
}
.menu__paragraph__card__toggle {
  display: none;
}
.menu__paragraph__card__price {
  font-weight: 500;
  margin-top: 40px;
  padding-right: 15px;
}
.menu__paragraph__card__wrapperprice {
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  margin-right: -60px;
  transition: 0.3s;
}
.menu__paragraph__card__wrapperprice__bell {
  display: inline-block;
}
.menu__paragraph__card__toggle:checked ~ .menu__paragraph__card__wrapperprice {
  margin-right: 0;
}
.menu__paragraph__card:hover > .menu__paragraph__card__wrapperprice {
  margin-right: 0;
}
.menu__btn {
  display: flex;
  justify-content: center;
  position: relative;
}
.menu__btn__oder {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: var(--button-gradient, linear-gradient(175deg, #FF79DA 0%, #9356DC 100%));
  font-size: 16px;
  font-weight: 500;
  font-family: "roboto";
  color: #FFF;
  border: none;
  margin-bottom: 50px;
  transition: box-shadow 0.3s, background-color 0.3s;
}
.menu__btn__oder:hover {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  background: var(--button-gradient, linear-gradient(175deg, #ff93e1 0%, #a16be0 100%));
}
.menu__btn__oder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: white;
  opacity: 0;
  transition: opacity 250ms;
}
.menu__btn__oder:hover::before {
  opacity: 0.2;
}

.footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 16px;
}
.footer__logo {
  display: block;
  font-family: var(--text__logo-and-title);
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
}
.footer__wrapperlink {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link {
  color: #FFF;
  font-weight: 500;
}
.footer__link__partainer, .footer__link__topropose {
  display: flex;
  gap: 11px;
}

@media all and (min-width: 767px) and (max-width: 1023px) {
  .logoheader {
    justify-content: flex-start;
    position: relative;
  }
  .logoheader__back-arrow {
    margin-left: 20px;
  }
  .logoheader__logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu__container-title {
    gap: 20px;
    justify-content: center;
  }
  .menu__container-title__heart {
    margin: 12px 0px 0px 0px;
  }
  .menu__paragraph {
    align-items: center;
  }
  .menu__paragraph__wrappertitle {
    min-width: 80%;
  }
  .menu__paragraph__card {
    max-width: 80%;
  }
}
@media all and (min-width: 1024px) {
  .logoheader {
    justify-content: flex-start;
    position: relative;
  }
  .logoheader__back-arrow {
    margin-left: 20px;
  }
  .logoheader__logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .menu {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .menu__container-title {
    gap: 20px;
    justify-content: center;
  }
  .menu__container-title__heart {
    margin: 12px 0px 0px 0px;
  }
  .menu__paragraph {
    align-items: center;
  }
  .menu__paragraph__wrappertitle {
    min-width: 80%;
  }
  .menu__paragraph__card {
    width: 80%;
    max-width: 634%;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    height: 54px;
    padding: 30px 70px 30px 25px;
    gap: 100px;
  }
  .footer__logo {
    margin-top: 30px;
  }
  .footer__wrapperlink {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    gap: 25px;
  }
  .footer__link__partainer svg, .footer__link__topropose svg {
    margin-top: 3px;
  }
}
@media screen and (min-width: 1440px) {
  * body {
    width: 1440px;
    margin: 0 auto;
  }
  .photo__restaurant {
    max-width: 1440px;
  }
}/*# sourceMappingURL=stylemenu.css.map */