
// variables 

$background: #F6F6F6;
$primary: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$green-font: #008766;
$blue: #89C8FA;
$blue-2: #003A68; 
$grey: #353535;
$grey-2: #EAEAEA;
$white: #FFF;

:root {

    // fonte-familly 
    --text: "Roboto";
    --text__logo-and-title: "shrikhand";
}

    //  général 

* body {
    margin: 0 auto;
    font-family: var(--text);
    background-color: $background;
}

* .title {
    font-family: var(--text__logo-and-title);
}

.title__h2 {
    margin-left: 20px;
    padding-top: 48px;
    padding-bottom: 15px;
    font: 700 24px;
}

a {
    text-decoration: none;
    color: #101010;
}

    // Section animation

    // Loader - animation

@keyframes fade-out {
75% {
    opacity: 1
}
100% {
    opacity: 0
}
}

.animation {
    width: 100%;
    height: 100%;
    position: fixed;
    animation-name: fade-out;
    animation-duration: 2.5s;
    animation-fill-mode: forwards; 
    pointer-events: none;
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in-out;
    &__dot {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 10px;
        animation: loader infinite 0.3s alternate;
    }
    &__dot-1 {
        background-color: $primary;
    }
    &__dot-2 {
        background-color: $secondaire;
        animation-delay: 0.05s;
    }
    &__dot-3 {
        background-color: $tertiaire;
        animation-delay: 0.1s;
    }
}

@keyframes loader {
    100% {
        transform: translateY(-30px);
    }
}

    // header

.logoheader {
    text-align: center;
    background-color: $white;
    &__logo {
        padding: 0px 19px 0px 16px;
        margin-top: 14px;
        margin-bottom: 13px;
    }
}

.location {
    background-color: $grey-2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px; 
    &__search {
        border: none;
        background-color: transparent;
        font: 500 16px var(--text);
        color: $grey;
        width: 109px ;
    }
}
    
    // Section Hero 

.hero {
    text-align: center; 
    &__book {
        font: 24px;
        width: 275px;
        height: 68px; 
        margin: 0 auto;
        margin-top: 30px;
    }
    &__discover {
        font: 300 18px;
        color: $grey;
        width: 315px;
        height: 46px; 
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        position: relative;
        &__explore {
            width: 218px;
            height: 50px;
            border-radius: 25px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            background: var(--button-gradient, linear-gradient(175deg, $secondaire 0%, $primary 100%));
            font-size: 16px;
            font-weight: 500;
            font-family: "roboto";
            color: $white;
            border: none;
            margin-bottom: 50px; 
            transition: box-shadow 0.3s, background-color 0.3s;
            &:hover {
                box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25); 
                background: var(--button-gradient, linear-gradient(175deg, lighten($secondaire, 5) 0%, lighten($primary, 5) 100%));
            }     
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                background-color: lighten($white, 5);
                opacity: 0;
                transition: opacity 250ms; 
            }
            &:hover::before {
                opacity: 0.2;
            }
        } 
    }
}

    // section functioning

.functioning {
    background-color: $white;
    &__filter {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 75px;
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__circle {
            position: relative;
            transform: translateX(50%); 
            &__number {
                position: absolute;
                top: 45%; 
                left: 35%;
                transform: translateY(-50%);
                margin: 0;
                color: $white;
                font-size: 14px;
                font-weight: 500;
            } 
        }
        &__btn {
            background-color: $background;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 40px;
            gap: 20px;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            width: 100%;
            max-width: 322px;
            height: 72px;  
            margin-right: 15px;
            &__filter {
                background-color:transparent;
                border: none;
                font-size: 16px;
                font-weight: 500;
                font-family: "roboto";
            }
        }
    }
}


    //  section restaurants 

.restaurants__wrappercard {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px; 
    gap: 18px;
    margin-bottom: 70px;
    &__container {
        &__card {
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $white;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            border-radius: 15px;
            position: relative;
            &__img {
                width: 100%; 
                object-fit: cover;
                border-radius: 15px 15px 0px 0px;
            }
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 15px;
                margin-left: 13px;
                &__txt__title {
                    font-weight: 700;
                    margin: 12px 0px 0px 12px;
                }
                &__txt__locality {
                    font-size: 17px;
                    font-weight: 300;
                    margin: 5px 0px 12px 12px;
                }
                &__divheart {
                    margin-right: 25px;
                    display: flex;
                    cursor: pointer;
                    &__checkbox {
                        display: none;
                    }
                    &__checkbox:checked ~ &__heart-full {
                        opacity: 1;
                        color: transparent;
                        height: 23px;
                        background-image: linear-gradient(100deg, $primary, $secondaire);
                        background-size: cover;
                        background-position: center;
                        background-clip: text;
                        -webkit-background-clip: text;
                    }     
                    &__heart-fillnone {
                        position: absolute;
                    }
                    &__heart-full {
                        position: absolute;
                        opacity: 0;
                        transition-duration: 0.5s;
                        transition-property: all;
                        &:hover {
                            opacity: 1;
                            color: transparent;
                            height: 23px;
                            background-image: linear-gradient(100deg, $primary, $secondaire);
                            background-size: cover;
                            background-position: center;
                            background-clip: text;
                            -webkit-background-clip: text;
                        }
                    }       
                    
                 }
            }
        }
    }
}

.thumbnail-news {
    background-color: $tertiaire;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    width: 80px;
    height: 29px;
    border-radius: 2px;
    color: $green-font;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
    position: absolute ;
    top: 15px;
    right: 15px;
    &__txt {
        padding: 7px 9px 6px 9px;
        margin: 0 auto;
    }
}

    // footer 

.footer {
    background-color: $grey;
    color: $white;
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    gap: 16px;
    &__logo {
        display: block;
        font-family: var(--text__logo-and-title);
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
    }
    &__wrapperlink {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__link {
        color: $white;
        font-weight: 500;
        &__partainer, &__topropose {
            display: flex;
            gap: 11px;
        }
    }
}

// tablette version    

@media all and (min-width: 767px) and (max-width: 1023px) {
    
    // section header tablette  version
    .logoheader {
        &__logo {
            padding: 0;
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }

        // section hero tablette version
    .hero {
        text-align: center; 
        &__book {
            font-size: 34px;
            width: 100%; 
            margin-bottom: 10px;  
        }
        &__discover {
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;  
        }
        &__btn {
            margin-bottom: -30px;  
        }
    }
       
         // section functioning tablette  version

         .functioning {
            &__title { 
            margin-left: 40px;
            }  
        }

         // section restaurants tablette  version

    .restaurants {
        &__title {
            margin-left: 40px;
        }
        &__wrappercard {
            margin-left: 80px;
            margin-right: 80px; 
            gap: 30px;
        }
    }

}



// Desktop version    

@media all and (min-width: 1024px) {
    
    // section header Desktop version
    .logoheader {
        &__logo {
            padding: 0;
            margin-top: 30px;
            margin-bottom: 25px;
        }
    }

        // section hero Desktop version
    .hero {
        text-align: center; 
        &__book {
            font-size: 40px;
            width: 100%; 
            margin-bottom: 10px;  
        }
        &__discover {
            width: 100%;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;  
        }
        &__btn {
            margin-bottom: -30px; 
        }
    }
       
         // section functioning Desktop version

    .functioning {
        &__title { 
        margin-left: 80px;
        }
        &__filter {
            flex-direction: row ;
            justify-content: center; 
            gap: 10px;
            &__btn {
                padding-left: 30px;
                padding-right: 10px;
                gap: 10px;
            }   
        }
    }
         // section restaurants Desktop version

    .restaurants {
        &__title {
            margin-left: 80px;
        }
        &__wrappercard {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
            &__container {
                width: 100%;
                max-width: 460px;
                height: 251px;
                margin-bottom: 30px;
                &__divheart {
                    &__heart {
                    bottom: 35px;
                    right: 30px;
                    }
                } 
            }
        }
    }

    // section footer desktop version

    .footer {
        display: flex;
        flex-direction: row-reverse; 
        height: 54px;
        padding:  30px 70px 30px 25px ; 
        gap: 100px;
        &__logo {
          margin-top: 30px;
        }
        &__wrapperlink {
            display: flex;
            flex-direction: row;
            margin-top: 35px; 
            gap: 25px ;  
        }
        &__link {
            &__partainer svg, &__topropose svg {
                // pour une mise en page bien aligné
                margin-top: 3px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    * body {
       max-width: 1440px;
       margin: 0 auto;
    }

}
    
/* FIXES */
/* régle le probleme avec l'icon de font awesome et réaligne le background*/
.fa-xl {
    line-height: 1 !important;
}