/* variables */
:root {

    /* palette de coueleur */
    --background: #F6F6F6;
    --primary: #9356DC;
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
    --green-font: #008766;
    --blue: #89C8FA;
    --blue-2: #003A68; 
    --grey: #353535;
    --grey-2: #EAEAEA;
    --white: #FFF;

    /* fonte-familly */
    --text: "Roboto";
    --text__logo-and-title: "shrikhand";
}

/* mobile first */

@media screen and (max-width: 480px) {

    /* général */

* body {
    margin: 0 auto;
    font-family: var(--text);
    background-color: var(--background);
}

* .title {
    font-family: var(--text__logo-and-title);
}

    /* header */

.logo__container {
    text-align: center;
    background-color: var(--white);
}

.logo {
    padding: 14px 19px 13px 16px;
}

.location {
    background-color:var(--grey-2);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px; 
}

.location__search {
    border: none;
    background-color: transparent;
    font: 500 16px var(--text);
    color: var(--grey);
    width: 109px ;
}

    /* Section Hero */

    .hero {
        text-align: center; 
        
    }

    .book {
        font: 24px;
        width: 275px;
        height: 68px; 
        margin: 0 auto;
        margin-top: 30px;
    }

    .discover {
        font: 300 18px var(--grey);
        width: 315px;
        height: 46px; 
        margin: 0 auto;
        margin-bottom: 30px;
    }

    #btn__explore {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        background: var(--button-gradient, linear-gradient(175deg,var(--secondaire) 0%, var(--primary) 100%));
        font-size: 16px;
        font-weight: 500;
        font-family: "roboto";
        color: var(--white);
        border: none;
        margin-bottom: 50px;
    }

    /* section functioning */

    .functioning {
        background-color: var(--white);
    }

    .functioning__title__h2 {
        margin-left: 20px;
        padding-top: 48px;
        padding-bottom: 15px;
        font: 700 24px;
    }
    .functioning__filter {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 75px;
    }

    .functioning__filter__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 15px;
    }

    .functioning__filter__circle {
        position: relative;
        transform: translateX(50%);   
    }

    .functioning__filter__circle__number {
        position: absolute;
        top: 45%; 
        left: 35%;
        transform: translateY(-50%);
        margin: 0;
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
    }

    .functioning__filter__btn {
        background-color: var(--background);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 20px;
        border: none;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        max-width: 322px;
        height: 72px;  
    }
    
    #btn__filter {
        background-color:transparent;
        border: none;
        font-size: 16px;
        font-weight: 500;
        font-family: "roboto";
    }




}