/* général */

* body {
    font-family: "roboto";
    
}

* .title {
    font-family: "shrikhand";
}



/* mobile version */

@media screen and (max-width: 480px) {
    
.logo-container {
    text-align: center;
}

.logo {
    padding: 14px 19px 13px 16px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px; 
    background-color: aquamarine;
    height: 50px;
}

.location__search {
    border: none;
    background-color: transparent;
}


}